pkgbase = python-panther
	pkgdesc = Fast & Friendly Python Web Framework
	pkgver = 2.4.1
	pkgrel = 1
	url = https://pantherpy.github.io/
	arch = any
	license = BSD 3 Clause
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-installer
	makedepends = python-wheel
	depends = bpython
	depends = python-bson
	depends = python-pantherdb
	depends = python-pydantic
	depends = python-httptools
	depends = uvicorn
	depends = python-rich
	depends = python-watchfiles
	depends = python-jose
	depends = python-greenlet
	optdepends = python-pymongo: mongodb support
	source = git+https://github.com/AliRn76/panther.git
	md5sums = SKIP

pkgname = python-panther
