name: Pull Request

on:
  pull_request:
    types: [opened, synchronize]
jobs:

  tests-linux:
    name: Test Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install motor
        run: pip install motor

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: '4.4'

      - name: Remove Build Directory
        run: rm -rf build/

      - name: Run Tests
        run: coverage run -m pytest tests

      - name: Show Coverage
        run: coverage report

  tests-windows:
    name: Test Windows
    runs-on: windows-latest
    needs: [tests-linux]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: pytest -m "not mongodb" tests

  tests-macos:
    name: Test MacOS
    runs-on: macos-latest
    needs: [tests-linux]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: pytest -m "not mongodb" tests
